@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,700;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Khula:700');
html {
  scroll-behavior: smooth;
}
.main-container {
  width: 100%;
  height: 100%;
  min-height: 1200px;
  background-color: rgb(19, 45, 83);
}
.main-page { 
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 23px;
    color:rgb(255, 255, 255)
}
.menu-items {
  position: fixed;
  user-select: none;
    text-align: left;
    padding-top: 60px;
    padding-left: 15px; 
    right: 0;
    width: 200px;
    height: 100%;
    background-color: rgba(38, 41, 43, 0.961);
    backdrop-filter: 10px;
    z-index: 1;
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 300;
  }
  .svgDefaultColor g {
    fill: #e5e5e5;
   }
   .svgDefaultColor path {
    stroke: #e5e5e5;
    stroke-width: 10px;
   }
.page-content { 
    width: 100%;
    height: 100%;
    margin-top: 45px;
    
}
.first-header { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nameFontBold { 
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 35px ;
    display: block;
    border-bottom: 1px solid rgb(0, 187, 255)  ;
}

.titleText { 
  font-family: 'Montserrat', sans-serif;
  border-left: 1px solid aqua;
  font-size: 26px ;
  font-weight: 700;
  text-indent: 8px;
  
}
.normalText { 
  font-size: 22px ;
  font-weight: 2px;

}
.textWrote { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
}
.cvImage { 
  width: 150px;
  height: 150px;
  background-image: url('../../assets/image/cv/cv.jpg');
  background-size: cover;
  border-radius: 100px;
}
.tagsLanguajes { 
  width: min-content;
  padding-left: 4px;
  padding-right: 3px;
  font-size: 12px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 20px;
  margin: 2px;
}
.nav {
  top: 0;
  width: 100%;
  height: 45px;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 2;
  position: fixed;
  .button-nav {
    display: flex;
    position: absolute;
    right: 0;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
    margin: 5px;
    width: 40px;
    height: 40px;
    align-items: center;
    .line {
      display: block;
      width: 40px;
      height: 5px;
      border-radius: 10px 15px;
      background-color: rgb(255, 255, 255);
      margin-bottom: 2px;
      margin-top: 2px;
    }
  }
 
}

.hidden {
    opacity:0;
  }
  .console-containerr {
    border: 1px wheat solid;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 2px;
    background: transparent;
    /*font-family:Khula; */
    color:rgb(255, 255, 255);
    width: 200px;
    height: 40px;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index: 0;
  }
  .console-underscoree {
     display:inline-block;
    position:relative;
    top:-0.14em;
    left:10px;
  }
  .linesTitle {
    display: block;
    position: absolute;
    margin: 1px;
    height: 5px;
    background-color: rgb(0, 174, 255);
    border-radius: 10px;
     left: 5px;
  }

  .oneTitle { 
    top: 5px;
    width: 12px;
   
    }
    .twoTitle { 
      top: -2px;
      width: 55px;
    }
    .thrTitle { 
      bottom: 2px;
      width: 30px
    }
.rotate180  { 
  transform: rotate(180deg);
}