html {
  scroll-behavior: smooth;
}
.main-container {
  width: 100%;

  background-color: rgb(19, 45, 83);
}
.sadds {
  color: rgba(255, 255, 255, 0.476);
}
.main-page {
  position: relative;
  z-index: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 23px;
  color: rgb(255, 255, 255);
}
.menu-items {
  position: fixed;
  user-select: none;
  text-align: left;
  padding-top: 60px;
  padding-left: 15px;
  right: 0;
  width: 200px;
  height: 100%;
  background-color: rgba(38, 41, 43, 0.961);
  backdrop-filter: 10px;
  z-index: 1;
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  font-weight: 300;
}
.svgDefaultColor g {
  fill: #e5e5e5;
}
.svgDefaultColor path {
  stroke: #e5e5e5;
  stroke-width: 10px;
}
.page-content {
  width: 100%;
  height: 100%;
  margin-top: 45px;
}

.nameFontBold {
  display: block;
  padding-left: -5px;
  border-bottom: 1px solid rgb(0, 187, 255);
}
h1 {
  color: transparent;
  letter-spacing: 0.5px;
  color: #ffffff44;
  background-image: linear-gradient(160deg, #ff0033, #00ffee);
  font-family: "IBM Plex Sans", sans-serif;
  background-clip: text;
  animation: name-title-animation 10s infinite linear;
}

@keyframes name-title-animation {
  0% {
    background-size: 0%;
  }
  50% { 
    background-size: 10%;
  }
  100% {
    background-size: 0%; 
  }
}

h2 {
  font-family: Roboto, "Open Sans";
}
.container-proyects {
  font-family: Roboto, "Open Sans";
}
.titleText {
  font-family: "Montserrat", sans-serif;
  border-left: 1px solid aqua;
  font-size: 24px;
  font-weight: 700;
  text-indent: 8px;
}
.normalText {
  font-weight: 2px;
}
.textWrote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
}
.cvImage {
  position: absolute;
  background-image: url("../../assets/image/cv/cv.jpg");
  background-size: cover;
  border-radius: 300px;
}
.Social {
  position: relative;
  width: 32px;
  margin: 7px;
}
.tagsLanguajes {
  width: min-content;
  padding-left: 7px;
  padding-right: 7px;
  font-size: 13px;
  border-radius: 9px;
  margin: 2px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 500;
}
.nav {
  top: 0;
  width: 100%;
  height: 45px;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 2;
  .button-nav {
    display: flex;
    position: absolute;
    right: 0;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
    margin-right: 9px;
    margin-top: 2px;
    width: 40px;
    height: 40px;
    align-items: center;
    .line {
      display: block;
      width: 40px;
      height: 5px;
      border-radius: 10px 15px;
      background-color: rgb(255, 255, 255);
      margin-bottom: 2px;
      margin-top: 2px;
    }
  }
}

.hidden {
  opacity: 0;
}
.console-containerr {
  width: 100%;
  //border: 1px wheat solid;
  padding-top: 5px;
  padding-bottom: 2px;
  background: #000000;

  font-size: 25px;
  font-weight: 800;
  /*font-family:Khula; */
  font-weight: 700;
  color: rgba(255, 255, 255, 0.642);
  height: 30px;
  top: 0;
  text-align: center;
  align-items: center;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}
.console-underscoree {
  font-weight: 100;
  font-size: 20px;
  display: inline-block;
  position: relative;
  top: -0.14em;
  left: 10px;
}
.linesTitle {
  display: block;
  position: absolute;
  margin: 1px;
  height: 5px;
  background-color: rgb(0, 174, 255);
  border-radius: 10px;
  left: 5px;
}

.oneTitle {
  top: 5px;
}
.twoTitle {
  top: -2px;
}
.thrTitle {
  bottom: 2px;
}
.rotate180 {
  transform: rotate(180deg);
}

.imageExamples {
  background-repeat: no-repeat;
}

.text-bold {
  font-weight: 800;
  color: #02ff63;
  outline: none;
}
.input-container {
  background: #00000042;
  border: 1px dashed rgb(0, 0, 0);
  border-radius: 10px;
  &:hover {
    background: rgba(0, 0, 0, 0.43);
  }
  &:hover {
    outline: none;
    resize: none;
    border: 1px dashed rgb(0 255 253);
    background: #00000042;
  }
}
.input-sender {
  background: transparent;
  outline: none;

  padding: 6px;
  font-size: 14px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  width: calc(100% - 20px);
  height: 74px;
  &:active {
    outline: none;
    resize: none;
  }
}

.wobbling-3 {
  border-radius: 40px;
  color: #514b82;
  border: 1px solid;
}
.wobbling-3::before {
  content: "";
  position: absolute;
  margin: 2px;
  width: 25%;
  top: 0;
  bottom: 0;
  left: 0;
  border-radius: inherit;
  background: currentColor;
  animation: w3 1s infinite linear;
}
@keyframes w3 {
  50% {
    left: 100%;
    transform: translateX(calc(-100% - 4px));
  }
}
.continuous-1 {
  background: linear-gradient(
    50deg,
    rgb(255, 0, 0),
    rgb(255, 251, 0),
    rgba(9, 9, 121, 1),
    rgb(255, 0, 0)
  );

  background-size: 790% 250%;
  animation: ct1 4s infinite linear;
}

@keyframes ct1 {
  0% {
    background-position: right;
  }
}

.animate-spin12 {
  animation: spin12 10s linear infinite;
}
@keyframes spin12 {
  0% {
    transform: rotate(0deg);
    border-color: rgb(255, 255, 255);
  }
  50% {
    transform: rotate(180deg);
    border-color: rgb(0, 221, 255);
  }
  100% {
    transform: rotate(360deg);
    border-color: rgb(255, 255, 255);
  }
}
.animated-text {
 margin-left: 50%;
 margin-right: 50%;
 margin-top: 50%; 
 width: 1px;
 height: 1px;
 background: #000000;
 animation: incredible 10s linear infinite;
 position: absolute;
}
.animated-text::before { 
  content: "";
  position: absolute;
  margin-top: 80px;
  width: 10px;
  height: 10px;
  background: #000000;
  animation: incredible 2s linear infinite;
 }
 .animated-text::after { 
  content: "";
  position: absolute;
  margin: 1px;
  width: 10px;
  height: 10px;
  background: #000000;
  animation: incredible 2s linear infinite;
 }
@keyframes incredible {
  0% { 
    transform: rotate(0deg);
    border-color: rgb(255, 255, 255);
  }
  100% { 
    transform: rotate(360deg);
    border-color: rgb(255, 255, 255);
  }
}