.main-fig{
     height: 100vh;
     width: 100%;
     display: flex;
     flex-direction: row;
     justify-content: center;
     position: relative;
     align-items: center;
     label{
       #check{
         display: none;
       }
       svg{
       fill: #ccc;
       margin: auto;
       stroke: red;
       stroke-width:20;
       stroke-dasharray: 2500;
       stroke-dashoffset: 2500;
       stroke-linecap: round;
     }
       .ci{
         height: 30px;
         width: 30px;
         position: absolute;
         top: 50%;
         left: 50%;
         z-index: -1;
         transform: translate(-50%, -50%) scale(0);
         opacity:0;
         border-radius: 50%;
         background: red;
         box-shadow: 0 160px 0 red, 0 -160px 0 red, 160px 0 0 red, -160px 0 0 red;
         &:after{
           content: "";
           height: 30px;
           display: block;
           width: 30px;
           border-radius: 50%;
           background: red;
           box-shadow: 0 160px 0 red, 0 -160px 0 red, 160px 0 0 red, -160px 0 0 red;
           transform: rotate(45deg)
             scale(0)
             ;
         }
       }
      
     }
     
   }
   
   input[type="checkbox"]:checked ~ svg{
     animation: love 1s ease-in forwards;
   }
   @keyframes love{
     0%{
       fill: #ccc;
       stroke-dasharray: 2500;
       stroke-dashoffset: 2500;
     }
     80%{
       fill: #ccc;
       stroke-dasharray: 0;
       stroke-dashoffset: 0;
     }
     100%{
       fill: red;
       stroke-dasharray: 0;
       stroke-dashoffset: 0;
     }
   }
   
   @keyframes point{
     0%{
       opacity: 0;
             transform: translate(-50%, -50%) scale(0);
     }
     50%{
       opacity: .8;
             transform: translate(-50%, -50%) scale(1.1);
     }
   
     100%{
       opacity: 0;
             transform: translate(-50%, -50%) scale(0);
       
     }
   }
   @keyframes point-after{
     0%{
       opacity: 0;
       transform: rotate(45deg) scale(0);
     }
     50%{
       opacity: .8;
           transform: rotate(45deg) scale(0.8);
     }
     75%{
       opacity: 1;
           transform: rotate(45deg) scale(1.1);
     }
     100%{
       opacity: 0;
           transform: rotate(45deg) scale(0);
     }
   }
   input[type="checkbox"]:checked ~.ci{
     animation: point 1.2s forwards ease-in-out;
   }
   
   input[type="checkbox"]:checked ~.ci:after{
     animation: point-after 1s .2s forwards ease-in-out;
   }
   
   input:checked ~ svg #love{
     animation: s 1s forwards ease-in-out;
   }
   
   @keyframes s{
     0%{
       transform: scale(1);
   
     }
     50%{
       transform: scale(1.1);
     }
     100%{
       transform: scale(1);
     }
   }