.game-main-container { 
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(19, 45, 83);
    
}
.game-title { 
    font-size: 19px;
    font-weight: 700;
    text-transform: capitalize;
}