.backk {
    overflow: hidden;
     position: fixed;
     padding: 0;
     margin: 0;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: rgb(29, 5, 7);
     animation-name: backk;
     animation-duration: 6s;
     animation-iteration-count: infinite;
     animation-direction: alternate-reverse;
     }

 .lovee {
     position: absolute;
     background-color: rgb(207, 105, 112);
     width: 220px;
     height: 220px;
     margin: auto;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     transform: rotate(-45deg);
     animation-name: lovee;
     animation-duration: 6s;
     animation-delay: 1s;

     animation-iteration-count: infinite;
 }
 .lovee::before {
     content: "";
     position: absolute;
     background-color: rgb(207, 105, 112);
     border-radius: 50%;
     width: 220px;
     height: 220px;
     top: -125px;
     left: 0px;
 }
 .lovee::after {
     content: "";
     position: absolute;
     background-color: rgb(207, 105, 112);
     border-radius: 50%;
     width: 220px;
     height: 220px;
     left: 125px;
     top: 0px;
 }
 
 @keyframes backk {
     20% {
         background: rgb(145, 70, 114);
     }
     50% { 
        background-color: rgb(207, 105, 112);
     }
     80% { 
        background: rgb(227, 75, 88);
     }
 }
 @keyframes lovee {
     50% {
         transform: scale(0.3) rotate(-45deg);
     }
 }
 /*love-1*/
 .love-11 {
     position: absolute;
     background-color: rgb(231, 132, 139);
     width: 125px;
     height: 125px;
     margin: auto;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     transform: rotate(-45deg);
     animation-name: love-11;
     animation-duration: 2s;
     animation-delay: 1.7s;
     animation-iteration-count: infinite;
 }
 .love-11::before {
     content: "";
     position: absolute;
     background-color: rgb(231, 132, 139);
     border-radius: 50%;
     width: 125px;
     height: 125px;
     top: -62.5px;
     left: 0px;
 }
 .love-11::after {
     content: "";
     position: absolute;
     background-color: rgb(231, 132, 139);
     border-radius: 50%;
     width: 125px;
     height: 125px;
     left: 62.5px;
     top: 0px;
 }
 
 @keyframes love-11{
     50% {
         transform: scale(0.5) rotate(-45deg);
     }
 }
 /*love-2*/
 .love-22 {
     position: absolute;
     background-color: pink;
     width: 62.5px;
     height: 62.5px;
     margin: auto;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     transform: rotate(-45deg);
     animation-name: love-22;
     animation-duration: 1s;
     animation-delay: 1s;
     animation-iteration-count: infinite;
 }
 .love-22::before {
     content: "";
     position: absolute;
     background-color: pink;
     border-radius: 50%;
     width: 62.5px;
     height: 62.5px;
     top: -31.25px;
     left: 0px;
 }
 .love-22::after {
     content: "";
     position: absolute;
     background-color: pink;
     border-radius: 50%;
     width: 62.5px;
     height: 62.5px;
     left: 31.25px;
     top: 0px;
 }
 
 @keyframes love-22{
     50% {
         transform: scale(1.25) rotate(-45deg);
     }
 }
 
 