.slide {
	white-space: nowrap;
}
.slide .item {
	position: relative;
	display: none;
	overflow: hidden;
	white-space: nowrap;
	vertical-align: bottom;
     width: 100px;
}
.slide .item.active {
	display: inline-block;
	animation: slideInOut 2.4s ease-in-out 0s 2 alternate both running;
}
.slide b {
	border-left: 0px solid rgba(255, 255, 255, 0.651);
	vertical-align: top;
}
@keyframes slideInOut {
	from {
		width: 0%;
	}
	to {
		width: 100%;
	}
}









