/*.background { 
     
     background: linear-gradient(to bottom left, rgb(0, 0, 0), rgb(220, 38, 38));
     animation: gradient 15s ease infinite;
}*/
@import url('https://fonts.googleapis.com/css?family=Anton|Roboto');
.background { 
     overflow: hidden;
height: 100vh;}
.backGrounEvent {
     background-image: url('../../../assets/event/one.jpg');
     background-repeat: no-repeat;
     background-size: cover; 
} 

.normal-back { 
     background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);

background-size: 400% 400%;
animation: gradient 12s ease reverse;
}
.black-enterrazi{ 
     background: linear-gradient(-66deg, #ee7752, #000000, #302c2c, #000000);

background-size: 400% 400%;
animation: gradient 6s ease reverse;
}



.letterPerLetter {
          font-family: 'Anton', sans-serif;
          perspective: 1000px; 
     }
     
.letterPerLetter span {
          cursor: pointer;
          display: inline-block;
          font-size: 100px;
          user-select: none;
          line-height: .8;
}

.letterPerLetter span:nth-child(1).active {
    /* transform: translate3d(42px, -62px, -135px);*/

    animation: opacity 3s ease;
}
.letterPerLetter span:nth-child(2).active {
     /* transform: translate3d(42px, -62px, -135px);*/
     animation: rightToCenter 3s ease;
 }
 .letterPerLetter span:nth-child(3).active {
     /* transform: translate3d(42px, -62px, -135px);*/
     animation: rightToCenter 4s ease;
 }
 .letterPerLetter span:nth-child(4).active {
     /* transform: translate3d(42px, -62px, -135px);*/
     animation: rightToCenter 5s ease;
 }

.letterPerLetter span:nth-child(5).active {
     /* transform: translate3d(42px, -62px, -135px);*/
     animation: topToCenter 6s ease;
 }
 @keyframes rightToCenter{
     0% { 
          /*transform: translateY(100px);*/
          transform: translate(calc(100vh - 200px),0px) scale(3);
	}
	100% {

          transform: scale(1)
	}
}

 @keyframes topToCenter{
     0% { 
          /*transform: translateY(100px);*/
          transform: translate(0px, calc(100vh - 200px)) scale(1);
	}
	100% {

          transform: scale(1)
	}
}

@keyframes opacity {
     0% { 
          
          /*transform: translateY(100px);*/
          transform: translate(-200px, 50px) scale(7.3);
	}
     30%{ 
          transform: translate(200px, 20px) scale(6.3);
     }
     60%{ 
          color: rgb(207, 76, 15); 
          
     }
	100% {

          transform: scale(1)
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}}

     .borderDashedAnim {
     
          
          background: linear-gradient(90deg, rgb(0, 247, 255) 50%, transparent 50%), linear-gradient(90deg, rgb(0, 247, 255)  50%, transparent 50%), linear-gradient(deg, rgb(0, 247, 255)  50%, transparent 50%), linear-gradient(0deg, rgb(0, 247, 255)  50%, transparent 50%);
         
          background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
          background-size: 15px 4px, 15px 4px, 4px 15px, 4px 15px;
          background-position: 0px 0px, 200px 100px, 0px 100px, 200px 0px;
          padding: 10px;
          animation: border-dance 4s infinite linear;
        }
     @keyframes border-dance {
          0% {
            background-position: 0px 0px, 100px 116px, 0px 150px, 216px 0px;
          }
          100% {
            background-position: 100px 0px, 0px 116px, 0px 0px, 216px 150px;
          }
        }

.eneableEffect {
     position: absolute;
     overflow: hidden;
     animation: border-dancee 1.5s infinite linear;
     background: #000000;
}
@keyframes border-dancee {
     0% {
       scale: 1.0;
     }
     100% {
       scale: 12.0;
     }
   }

   .topLetterr { 
     position: absolute; 
  left: 10px; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  width: 200px; 
   }