@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');

.borderLogin{ 
        border-radius: 10px,20px;
        border: 2px solid;
        border-color: #00000045;
}
.borderLogin2{ 
        border-radius: 10px,20px;
        border: 1px solid;
        border-color: #19cbc592;
}
.buttonLogin { 
        font-weight: 500;
        color: antiquewhite;
        background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(11, 175, 187, 0.339) 0%, rgba(50, 50, 183, 0.133) 42%, rgba(0,212,255,1) 100%);
        &:hover{
                 background: rgb(2,0,36);
                background: linear-gradient(90deg, rgba(11, 20, 187, 0.339) 0%, rgba(50, 50, 183, 0.133) 42%, rgb(0, 110, 255) 100%);
                
        }
}
.backGroundImage {
        background: linear-gradient(180deg, rgba(77, 18, 137) 0%, rgb(91, 15, 167) 42%, rgb(125, 17, 133) 100%);
        background-repeat: no-repeat;
        background-size: cover; 
} 

.inputLogin{ 
        background: #3e43424d;
        color: aqua;
}

.inputLogin::placeholder { 

        color: rgb(0, 255, 247);
}
.loginText { 
        color: rgb(20, 220, 197);
        
}
.animSlowly { 
        animation: spins 10s linear infinite;
}
.fontMessage { 
        font-family: 'Lato', sans-serif;
        font-size: 14px;
        font-weight: 600;
}

    @keyframes spins {
        to {
            transform: rotate(360deg);
        }
    }