.titleForms { 
    text-indent: 8px;
    font-weight: 600;
    font-size: 16px;
    margin-top: 10px;
}
.inputForms { 
    outline: 0;
    border: transparent;
    border-bottom:  2px rgb(7, 4, 4) solid;
    font-family: Georgia, 'Times New Roman', Times, serif, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    margin-bottom: 10px;
    font-size: 17px;
    &:focus {
        outline: 0;
    }
}